[ req ]
default_bits = 4096
distinguished_name = req_DN
string_mask = nombstr

[ req_DN ]
countryName = "1. Country Name (Wert 'DE')"
countryName_default = "DE"
countryName_min = 2
countryName_max = 2
0.organizationName = "2. Organization (TrustCenter Name)"
0.organizationName_default = "ITSG TrustCenter fuer sonstige Leistungserbringer [change]"
0.organizationalUnitName = "3. Organizational Unit Name (Unternehmen)"
0.organizationalUnitName_default = "Muster GmbH [change]"
1.organizationalUnitName = "4. Organizational Unit Name (IK / BN)"
1.organizationalUnitName_default = "IK123456789 [change]"
commonName = "5. Common Name (Ansprechpartner)"
commonName_max = 64
commonName_default = "Max Muster [change]"
